<% if @user == current_user %>
<p>あなたの投稿一覧</p>
<% else %>
<p><%= @user.name %>さんの投稿一覧</p>
<% end %>

<% @posts.each do |post| %>
<div>
  DATE :<%= post.created_at %><br>
  BODY :<%= post.body %><br>
  <% if @user == current_user %>
  <%= link_to "編集", edit_post_path(post.id) %><br><br>
  <% else %>
  <br><br>
  <% end %>
  <% end %>
</div>