<div class="content">

<% @posts.each do |post| %>
<div class="row">
  <div class="col s12 m2"></div>
  <div class="col s12 m8">
    <div class="card grey lighten-3">
      <div class="card-content">
        <p class="grey-text text-darken-3"><%= post.body %></p>
      </div>
      <div class="card-action">
        <%= link_to "", post_path(post.id), class: "grey-text text-darken-3 fas fa-info-circle fa-lg" %>
        <% if post.user == current_user %>
        <%= link_to "", edit_post_path(post.id), class: "grey-text text-darken-3 fas fa-wrench fa-lg" %>
        <%= link_to "", post_path(post.id), method: :delete, class: "grey-text text-darken-3 far fa-trash-alt fa-lg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="col s12 m2"></div>
<% end %>

</div>