// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.log_in_button {
  margin: 15px 0;
}

.sign_in_up_text {
  font-family: YuGothic, sans-serif;
}

.log_in_text {
  font-family: YuGothic, sans-serif;
}

.user_edit_title {
  margin: 20px 0 40px;
}

.edit_button {
  margin-top: 10px;
  margin-left: 10px;
}