// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_edit_title {
  text-align: center;
  margin: 20px 0 40px;
}

.edit_button {
  margin-top: 10px;
  margin-left: 10px;
}